@model IEnumerable<Clase_Biblioteca.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@if (TempData.ContainsKey("mensaje"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["mensaje"].ToString()
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_libro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.anio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.multapordia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_libro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.autor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.anio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.multapordia)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id_libro }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id_libro }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id_libro })
                </td>
            </tr>
        }
    </tbody>
</table>
